<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agenda</title>
</head>
<body>
<h1>Editar Contato</h1>

<form th:action="@{/update-contato}" th:object="${contato}" method="post">
    <input type="hidden" name="id" th:field="*{id}"/>

    <input type="text" name="nome"  th:field="*{nome}"  th:placeholder="Nome"/> <br/>
    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Nome Error</span>
    <br/>

    <input type="text" name="telefone" th:field="*{telefone}" th:placeholder="Telefone"/> <br/>
    <span th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}">Telefone Error</span>
    <br/>
    <button type="submit">Atualizar Contato</button>
</form>

<br>

<a th:href="@{/contatos}">Contatos</a>

</body>
</html>